.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
#screen{
    margin: 2rem 0;
}
.button{
    width: 6rem;
    height: 2rem;
    border-radius: 5px;
}
#increaseButton{
   
    background-color: lawngreen;

}
#decreaseButton{
   
    background-color: lightblue;
    
}
#timer{
    
    background-color: lightcoral;
     
}
#pause{
background-color: lightseagreen;
}
#reset{
background-color: azure;
}